## üîß 1. Installation

You can install PySpark via pip:
```
pip install pyspark
```
To verify the installation, run the following command in Python:

In [29]:
import pyspark
print(pyspark.__version__)

3.5.1

Before intializing PySpark, please make sure your computer installed Java 8 or later, but Java 9+ can sometimes cause issues. To check your Java version, run:
```{sh}
java -version
```
You should see something like:
```
java version "1.8.0_281"
```
If Java is not installed, install it trough the link
-  MacBook: [Install Java on MacBook](https://www.java.com/en/download/) (Check if your computer has Intel or Apple M CPU first)
-  Windows: [Install Java on PC](https://www.java.com/download/ie_manual.jsp)

## üöÄ 2. Start a Spark Session

In [30]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark_Tutorial") \
    .master("local[*]") \
    .getOrCreate()

## üìÇ 3. Load and Explore Data
The data required for this example is saved at s3://de300spring2025/dinglin_xia/data/adult.csv.

Assuming your file is named "adult.csv" and contains a column "filtered" (JSON array of words):
We‚Äôll walk through several important steps:

1. Feature Engineering

2. Bias Analysis on Marital Status

3. Joining with Supplemental Gender Data

4. Exporting Final Data

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.functions import col, when, isnan, isnull, count, avg, trim
import os

In [32]:
DATA_FOLDER = "data"
# source https://www.statista.com/statistics/242030/marital-status-of-the-us-population-by-sex/
# the first value is male and the second is for female
MARITAL_STATUS_BY_GENDER = [
    ["Never-married", 47.35, 41.81],
    ["Married-AF-spouse", 67.54, 68.33],
    ["Widowed", 3.58, 11.61],
    ["Divorced", 10.82, 15.09]
]
MARITAL_STATUS_BY_GENDER_COLUMNS = ["marital_status_statistics", "male", "female"]

In [33]:
def read_data(spark: SparkSession) -> DataFrame:
    """
    read data based on the given schema; this is much faster than spark determining the schema
    """

    # Define the schema for the dataset
    schema = StructType([
        StructField("age", IntegerType(), True),
        StructField("workclass", StringType(), True),
        StructField("fnlwgt", FloatType(), True),
        StructField("education", StringType(), True),
        StructField("education_num", FloatType(), True),
        StructField("marital_status", StringType(), True),
        StructField("occupation", StringType(), True),
        StructField("relationship", StringType(), True),
        StructField("race", StringType(), True),
        StructField("sex", StringType(), True),
        StructField("capital_gain", FloatType(), True),
        StructField("capital_loss", FloatType(), True),
        StructField("hours_per_week", FloatType(), True),
        StructField("native_country", StringType(), True),
        StructField("income", StringType(), True)
    ])

    # Read the dataset
    data = spark.read \
        .schema(schema) \
        .option("header", "false") \
        .option("inferSchema", "false") \
        .csv(os.path.join(DATA_FOLDER,"*.csv"))

    data = data.repartition(8)

    float_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, FloatType)]
    for v in float_columns:
        data = data.withColumn(v, data[v].cast(IntegerType()))

    # Get the names of all StringType columns
    string_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, StringType)]

    # Remove leading and trailing spaces in all string columns
    for column in string_columns:
        data = data.withColumn(column, trim(data[column]))

    # Show the first 5 rows of the dataset
    data.show(5)

    return data

In [34]:
def missing_values(data: DataFrame) -> DataFrame:
    """
    count the number of samples with missing values for each row
    remove such samples
    """

    missing_values = data.select([count(when(isnan(c) | isnull(c), c)).alias(c) for c in data.columns])

    # Show the missing values count per column
    missing_values.show()

    # Get the number of samples in the DataFrame
    num_samples = data.count()

    # Print the number of samples
    print("Number of samples:", num_samples)

    data = data.dropna()

    return data

### üìå Feature Engineering Function
üìñ Explanation:
This function programmatically finds all integer features and creates new features by multiplying each pair. It helps capture interaction effects for models or exploratory analysis.

In [35]:
def feature_engineering(data: DataFrame) -> DataFrame:
    """
    Calculate the product of each pair of integer features
    """
    # Identify all integer-type columns in the dataset
    integer_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, IntegerType)]

    # For each pair of integer columns, compute a new column that is their product
    for i, col1 in enumerate(integer_columns):
        for col2 in integer_columns[i:]:  # Avoid duplicate pairs
            product_col_name = f"{col1}_x_{col2}"
            data = data.withColumn(product_col_name, col(col1) * col(col2))

    # Preview first 5 rows to check new columns
    data.show(5)

    return data

### üìå Analyze Bias by Marital Status
üìñ Explanation:
This function investigates if capital_gain varies significantly with marital_status. It also filters and inspects a specific subgroup ‚Äî divorced individuals ‚Äî to facilitate further analysis or visualization.

In [36]:
def bias_marital_status(data: DataFrame):
    """
    Analyze if there's a bias in capital gain by marital status
    """
    # Group by marital status and compute average capital gain
    average_capital_gain = data.groupBy("marital_status").agg(avg("capital_gain").alias("average_capital_gain"))
    average_capital_gain.show()

    # Filter only rows with marital_status == "Divorced"
    divorced_data = data.filter(data.marital_status == "Divorced")
    divorced_data.show(5)

### üìå Join with External Gender Statistics
üìñ Explanation:
This function enriches the dataset by joining it with an external dataset containing U.S. gender distribution by marital status. The `outer` join ensures we keep unmatched records for completeness.

In [37]:
def join_with_US_gender(spark: SparkSession, data: DataFrame):
    """
    Join with external data about marital status statistics by gender
    """
    # Example data (assumed predefined in MARITAL_STATUS_BY_GENDER & *_COLUMNS)
    us_df = spark.createDataFrame(MARITAL_STATUS_BY_GENDER, MARITAL_STATUS_BY_GENDER_COLUMNS)

    # Outer join on marital_status
    return data.join(us_df, data.marital_status == us_df.marital_status_statistics, 'outer')

### ‚úÖ Main Pipeline
üìñ Explanation:
This function ties all preprocessing steps together and writes the result to a CSV file. You can run it with main() in a PySpark environment.

In [38]:
def main():
    spark = SparkSession.builder.appName("Read Adult Dataset").getOrCreate()

    data = read_data(spark)               # Load dataset
    data = missing_values(data)           # Handle missing values (assumed implemented)
    data = feature_engineering(data)      # Add interaction features
    bias_marital_status(data)             # Analyze capital gain by marital status
    data = join_with_US_gender(spark, data)  # Enrich with gender statistics

    data.show(5)                          # Preview final data
    data.write.format('csv').option('header', 'true').mode('overwrite').save('saved.csv')  # Save

In [39]:
main()

+---+---------+------+------------+-------------+------------------+---------------+------------+------------------+------+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|   education|education_num|    marital_status|     occupation|relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+------------+-------------+------------------+---------------+------------+------------------+------+------------+------------+--------------+--------------+------+
| 45|  Private|191098|   Bachelors|           13|Married-civ-spouse| Prof-specialty|     Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         China| <=50K|
| 46|  Private|250821| Prof-school|           15|          Divorced|Farming-fishing|   Unmarried|             White|  Male|           0|           0|            48| United-States| <=50K|
| 53|  Private|242859|Some-college|           10|         Separated|   Adm-clerical|   Own-child|             White|  Male|           0|           0|            40|          Cuba| <=50K|
| 30|  Private| 54929|     HS-grad|            9|Married-civ-spouse|          Sales|     Husband|             White|  Male|           0|           0|            55| United-States| <=50K|
| 31|  Private|234500|   Bachelors|           13|Married-civ-spouse|   Adm-clerical|        Wife|             White|Female|           0|           0|            40| United-States| <=50K|
+---+---------+------+------------+-------------+------------------+---------------+------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  1|        1|     1|        1|            1|             1|         1|           1|   1|  1|           1|           1|             1|             1|     1|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 48843
+---+---------+------+------------+-------------+------------------+---------------+------------+------------------+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|workclass|fnlwgt|   education|education_num|    marital_status|     occupation|relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+---------+------+------------+-------------+------------------+---------------+------------+------------------+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 45|  Private|191098|   Bachelors|           13|Married-civ-spouse| Prof-specialty|     Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         China| <=50K|     2025|     8599410|                585|                 0|                 0|                1800|    -2136260060|               2484274|                    0|                    0|                7643920|                          169|                           0|                           0|                           520|                          0|                          0|                            0|                          0|                            0|                           1600|
| 46|  Private|250821| Prof-school|           15|          Divorced|Farming-fishing|   Unmarried|             White|  Male|           0|           0|            48| United-States| <=50K|     2116|    11537766|                690|                 0|                 0|                2208|    -1513335399|               3762315|                    0|                    0|               12039408|                          225|                           0|                           0|                           720|                          0|                          0|                            0|                          0|                            0|                           2304|
| 53|  Private|242859|Some-college|           10|         Separated|   Adm-clerical|   Own-child|             White|  Male|           0|           0|            40|          Cuba| <=50K|     2809|    12871527|                530|                 0|                 0|                2120|    -1149048263|               2428590|                    0|                    0|                9714360|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 30|  Private| 54929|     HS-grad|            9|Married-civ-spouse|          Sales|     Husband|             White|  Male|           0|           0|            55| United-States| <=50K|      900|     1647870|                270|                 0|                 0|                1650|    -1277772255|                494361|                    0|                    0|                3021095|                           81|                           0|                           0|                           495|                          0|                          0|                            0|                          0|                            0|                           3025|
| 31|  Private|234500|   Bachelors|           13|Married-civ-spouse|   Adm-clerical|        Wife|             White|Female|           0|           0|            40| United-States| <=50K|      961|     7269500|                403|                 0|                 0|                1240|     -844324848|               3048500|                    0|                    0|                9380000|                          169|                           0|                           0|                           520|                          0|                          0|                            0|                          0|                            0|                           1600|
+---+---------+------+------------+-------------+------------------+---------------+------------+------------------+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|           Separated|   581.8424836601307|
|       Never-married|    384.382639449029|
|Married-spouse-ab...|   629.0047770700637|
|            Divorced|   793.6755615860094|
|             Widowed|   603.6442687747035|
|   Married-AF-spouse|  2971.6216216216217|
|  Married-civ-spouse|  1739.7006121810625|
+--------------------+--------------------+

+---+---------+------+------------+-------------+--------------+---------------+--------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|workclass|fnlwgt|   education|education_num|marital_status|     occupation|  relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+---------+------+------------+-------------+--------------+---------------+--------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 36|  Private|353524|     HS-grad|            9|      Divorced|Exec-managerial|     Own-child|White|Female|        1831|           0|            40| United-States| <=50K|     1296|    12726864|                324|             65916|                 0|                1440|      425166992|               3181716|            647302444|                    0|               14140960|                           81|                       16479|                           0|                           360|                    3352561|                          0|                        73240|                          0|                            0|                           1600|
| 41|  Private|144947|   Bachelors|           13|      Divorced|Exec-managerial|     Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|     1681|     5942827|                533|                 0|                 0|                1640|     -465203671|               1884311|                    0|                    0|                5797880|                          169|                           0|                           0|                           520|                          0|                          0|                            0|                          0|                            0|                           1600|
| 49|  Private| 97883|   Bachelors|           13|      Divorced|Exec-managerial|     Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     2401|     4796267|                637|                 0|                 0|                1960|      991147097|               1272479|                    0|                    0|                3915320|                          169|                           0|                           0|                           520|                          0|                          0|                            0|                          0|                            0|                           1600|
| 43|  Private|271807|Some-college|           10|      Divorced|   Craft-repair| Not-in-family|White|  Male|           0|           0|            40| United-States| <=50K|     1849|    11687701|                430|                 0|                 0|                1720|      864601217|               2718070|                    0|                    0|               10872280|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 22|        ?|313786|     HS-grad|            9|      Divorced|              ?|Other-relative|Black|Female|           0|           0|            40| United-States| <=50K|      484|     6903292|                198|                 0|                 0|                 880|     -322594012|               2824074|                    0|                    0|               12551440|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|
+---+---------+------+------------+-------------+--------------+---------------+--------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+---+---------+------+------------+-------------+--------------------+-----------------+-------------+------------------+----+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+----+------+
|age|workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race| sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|marital_status_statistics|male|female|
+---+---------+------+------------+-------------+--------------------+-----------------+-------------+------------------+----+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+----+------+
| 35|  Private|169104|Some-college|           10|Married-spouse-ab...|     Craft-repair|Not-in-family|             White|Male|           0|           0|            40| United-States| <=50K|     1225|     5918640|                350|                 0|                 0|                1400|    -1468608256|               1691040|                    0|                    0|                6764160|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL|NULL|  NULL|
| 46|  Private|197731|   Assoc-voc|           11|Married-spouse-ab...|Machine-op-inspct|    Unmarried|             White|Male|           0|           0|            40| United-States| <=50K|     2116|     9095626|                506|                 0|                 0|                1840|      442842697|               2175041|                    0|                    0|                7909240|                          121|                           0|                           0|                           440|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL|NULL|  NULL|
| 43|Local-gov|117022|     HS-grad|            9|Married-spouse-ab...|  Farming-fishing|    Unmarried|             Black|Male|           0|           0|            40| United-States| <=50K|     1849|     5031946|                387|                 0|                 0|                1720|      809246596|               1053198|                    0|                    0|                4680880|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL|NULL|  NULL|

## Lab Assignment
### Word Count
1 Save only the words that have count greater or equal to 3.

In [45]:
# --- WORD COUNT: keep only words that appear ‚â• 3 times ---

from pyspark.sql.functions import col, explode, split, lower

text_df = spark.read.text("/content/data")   # no wildcard

# 2Ô∏è‚É£  Tokenise -> one row per word
words_df = (text_df
            .select(explode(
                split(lower(col("value")), r"\W+")    # split on non-word chars
            ).alias("word"))
            .filter(col("word") != ""))               # drop empty strings

# 3Ô∏è‚É£  Count and keep only words with frequency ‚â• 3
result_df = (words_df
             .groupBy("word")
             .count()
             .filter(col("count") >= 3)
             .orderBy(col("count").desc()))

result_df.show(20)    # peek at the top 20

# 4Ô∏è‚É£  SAVE the filtered counts (one CSV file, overwrite if rerun)
result_df.coalesce(1).write.csv(
    path="word_counts_ge3",
    header=True,
    mode="overwrite"
)

+-------+-----+
|   word|count|
+-------+-----+
|      0|91367|
|    50k|48842|
| united|43832|
| states|43832|
|  white|41762|
|married|39161|
|private|33906|
|   male|32650|
|     40|23990|
| spouse|23044|
|    civ|22379|
|husband|19716|
|    not|16445|
| female|16192|
|  never|16127|
|      9|15811|
|   grad|15784|
|     hs|15784|
|     in|12583|
| family|12583|
+-------+-----+
only showing top 20 rows